.mainContainer{
    display: grid;
    grid-template-columns: auto auto auto;
}

.mainContainer img{
    width: 180px;
    padding-left: 50px;
    padding-top: 50px;
}

.mainContainer h2{
    color: black;
    padding-left: 50px;
}

.mainContainer span{
    color: whitesmoke;
    font-size: 17px;
}