.sideBarContainer{
    display: flex;
    flex-direction: column;
    width: 50%;


}

.mybtn{
    width: 130px;
    height: 70px;
    background-color: green;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 15px;
    margin-left: 60px;
    
}

.main{
    background-color: grey;
    width: 300px;
    height: 600px;
}

.mybtn::after {
    content: "";
    display: block;
    height: 5px;
    width: 0;
    transition: 0.1s width linear;
    margin: 0 auto;
  }

  .mybtn:hover::after {
    width: 100%;
  }

  .mybtn:hover {
    filter: brightness(120%);
    box-shadow: 10px 10px 10px #000;
  }
  
  .mybtn:active {
    box-shadow: inset 2px 2px 10px #000;
  }