.border{
  border: 10px;
  border-radius: 30px;
  box-shadow: 5px 5px 20px;
  width: 600px;
  height: 400px;
  background-color:grey;
}



.input{
  margin-top: 15px;
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px;

}

.pass{
  font-size: 15px;
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  padding: 7px;
}

.btn{
  width: 130px;
  height: 50px;
  background-color: blue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.log{
  color: blue;
}

.spa{
  color: white;
}